@using StudioBooking.Infrastructure
@model StudioBooking.DTO.CancelBookingDTO
<!--begin::Form-->
<form id="kt_modal_cancel_form" class="form" action="#">
    <div class="card-body">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" id="CancelBookingId" value="@Model.Id" />
        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-lg-right">Booking ID:</label>
            <div class="col-lg-3">
                <span class="form-control-plaintext font-weight-bolder">@Model.BookingId</span>
            </div>
            <label class="col-lg-3 col-form-label text-lg-right" asp-for="BookingStatus">Status:</label>
            <div class="col-lg-3">
                @{
                    var status = Defaults.GetBookingStatusCSS(Model.BookingStatus);
                    var paymentStatus = Defaults.GetPaymentStatusCSS(Model.PaymentStatus);
                }
                <span class="form-control-plaintext font-weight-bolder">@status.GetType().GetProperty("text").GetValue(status, null)/@paymentStatus.GetType().GetProperty("text").GetValue(paymentStatus, null)</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-lg-right" asp-for="CategoryName">Studio:</label>
            <div class="col-lg-3">
                <span class="form-control-plaintext font-weight-bolder">@Model.CategoryName</span>
            </div>
            <label class="col-lg-3 col-form-label text-lg-right" asp-for="ServiceName">Service:</label>
            <div class="col-lg-3">
                <span class="form-control-plaintext font-weight-bolder">@Model.ServiceName</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label text-lg-right" asp-for="BookingDate">BookingDate:</label>
            <div class="col-lg-3">
                <span class="form-control-plaintext font-weight-bolder">@Model.BookingDate</span>
            </div>
            <label class="col-lg-3 col-form-label text-lg-right" asp-for="BookingDate">Timing:</label>
            <div class="col-lg-3">
                <span class="form-control-plaintext font-weight-bolder">@Model.StartTime - @Model.EndTime</span>
            </div>
        </div>
        <div class="form-group row mb-5">
            <label class="col-lg-3 col-form-label text-lg-right" asp-for="Total">Total Paid:</label>
            <div class="col-lg-3">
                <span class="form-control-plaintext font-weight-bolder">@Model.Total</span>
            </div>
            <label class="col-lg-3 col-form-label text-lg-right" asp-for="RefundAmount">Refund Due:</label>
            <div class="col-lg-3">
                <span class="form-control-plaintext font-weight-bolder">@Model.RefundAmount</span>
            </div>
        </div>
        @if (Model.RefundAmount > 0 && !Model.IsReadOnly)
        {
            <div class="form-group row fv-row mb-5">
                <label class="col-lg-4 col-form-label text-lg-right" asp-for="PaymentProvider">Refund Mode:</label>
                <div class="col-lg-6">
                    @{
                        var paymentProviders = Html.GetEnumSelectList<Enums.PaymentProvider>().Where(b => b.Text == "UPI" || b.Text == "BankTransfer");
                    }
                    <select asp-for="PaymentProvider" asp-items="paymentProviders" class="form-control form-control-solid">
                        <option selected="selected" value="">---Select Payment Mode---</option>
                    </select>
                </div>
            </div>
            <div class="form-group row fv-row mb-5">
                <label class="col-lg-4 col-form-label text-lg-right" asp-for="Name">Name:</label>
                <div class="col-lg-6">
                    <input asp-for="Name" class="form-control form-control-solid" placeholder="Enter name" />
                </div>
            </div>
            <div class="form-group row fv-row mb-5">
                <label class="col-lg-4 col-form-label text-lg-right" asp-for="Account">Account/UPI Number:</label>
                <div class="col-lg-6">
                    <input asp-for="Account" class="form-control form-control-solid" placeholder="Account, UPI, GPay, etc" />
                </div>
            </div>
            <div class="form-group row fv-row mb-5">
                <label class="col-lg-4 col-form-label text-lg-right" asp-for="IFSC">IFSC Code:</label>
                <div class="col-lg-6">
                    <input asp-for="IFSC" class="form-control form-control-solid ifsc-code" placeholder="Enter ifsc code" />
                </div>
            </div>
        }
        else
        {
            if (Model.IsReadOnly)
            {
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label text-lg-right" asp-for="PaymentProvider">Refund Mode:</label>
                    <div class="col-lg-3">
                        <span class="form-control-plaintext font-weight-bolder">@Model.PaymentProvider.ToString()</span>
                    </div>
                    <label class="col-lg-3 col-form-label text-lg-right" asp-for="Name">Name:</label>
                    <div class="col-lg-3">
                        <span class="form-control-plaintext font-weight-bolder">@Model.Name</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label text-lg-right" asp-for="Account">Account/UPI Number:</label>
                    <div class="col-lg-3">
                        <span class="form-control-plaintext font-weight-bolder">@Model.Account</span>
                    </div>
                    <label class="col-lg-3 col-form-label text-lg-right" asp-for="IFSC">IFSC Code:</label>
                    <div class="col-lg-3">
                        <span class="form-control-plaintext font-weight-bolder">@Model.IFSC</span>
                    </div>
                </div>
            }
        }
    </div>
    <div class="card-footer">
        <div class="row">            
            <div class="col-lg-12 text-center">
                @if (Model.BookingStatus != Enums.BookingStatus.Cancelled)
                {
                    <button type="reset" class="btn btn-secondary" data-kt-cancel-modal-action="cancel">Cancel</button>
                    @if (Model.IsReadOnly)
                    {
                        <button type="button" class="btn btn-danger mr-2" onclick="approveCancellationRequest(@Model.Id,1)">Confirm Cancellation</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-danger mr-2" data-kt-cancel-modal-action="submit">Confirm Cancellation</button>
                    }
                }
                else
                {
                    <button type="button" class="btn btn-secondary" onclick="$('#kt_modal_cancel_booking').modal('hide');">Close</button>
                }
            </div>
        </div>
    </div>
</form>
<!--end::Form-->